h1 {
    font-size: 20 px;
    font-family: cursive;
    text-shadow: chartreuse;
}
#wrap {
    width: 500px;
    padding: 0px;
    margin: auto;
    background-color:white;
}
#quote-and-color {
    width: 600px;
    margin: auto;
}
#column {
    padding: 0px;
    margin-top: 0px;
    background-image: url("https://media.giphy.com/media/URZcG7uLd9h4s/giphy.gif");
}
.box {
    float: left;
    width: 50%;
}
.quote-and-color {
    width: 210px;
    height: 210px;
    margin: auto;
}
body {
    text-align: center;
    padding: 0px;
    margin: 0px;
    background-color: whitesmoke;
}
#description {
    text-align: left;
    margin: 50px 15px 100px 15px;
    font-family: sans-serif;
}
#color {
    background-color: papayawhip;
    width: 210px;
    height: 210px;
    margin: auto;
}
#quote {
    font-size: 21px;
    font-style: italic;
    font-family: Courier;
}
h2 {
    font-family: Papyrus;
}
table {
    
}
canvas {
    border: 1px solid black;
}
.color {
    width: 500px;
    height: 500px;
    background-color: white;
    font-size: 20px;
    border: solid black;
}
.color-title {
    background-color: black;
    color: white;
    font-size: 40px;
}
td {
    border: solid black 1px;
}

.gallery {
    width: 170px;
    height: 170px;
    border: solid 1px;
    font-size: 80px;
    text-align: center;

}
#gallery {
    width: 500px;
    margin: auto;
    text-align: center;

}


/* div or span that contains the menu list */
#menubar {
	position: relative;
	padding: 0px;
	display: block;
        background-color: lightpink;
}

/* class on a list that makes up the menu */
#menubar > ul {
	position: relative;
	display:  inline-block;
	text-decoration: none;
	list-style-type: none;
        margin: 0;
        padding: 0;
}

/* top-level menu as a bar across page */
#menubar > ul > li {
        display: inline-block;
        padding: 8px;
}

/* no bullets on menu items */ 
#menubar ul li {
	list-style: none;
        text-indent: 0px;
}

/* hide dropdown menus - sublists */
#menubar ul ul {
	display: none;
	position: absolute;
        background-color: pink;
        padding: 0px;
}

/* Show dropdown when hovering over its menu */
#menubar ul li:hover ul,
#menubar ul li:focus ul,
#menubar ul li:active ul {
	display: block;
}

/* Make menu links look normal */
#menubar a {
	display: block;
        color: lavenderblush;
	padding: 8px;
	text-decoration: none;
}

/* Change the link color on hover */
#menubar ul ul li a:hover {
	background-color: lavenderblush;
        color: #ffe4e4;
}

