 #name {
                font-size: 20 px;
                font-family: "Comic Sans Ms", cursive;
            }
            #wrap {
                width: 500px;
                margin: auto;
                background-color:white;
            }
            #quote-and-color {
                width: 600px;
                margin: auto;
            }
            #column {
                background-color: LightSalmon;
            }
            .box {
                float: left;
                width: 50%;
            }
            .quote-and-color {
                width: 210px;
                height: 210px;
                margin: auto;
            }
            body {
                text-align: center;
            }
            #description {
                text-align: left;
                margin: 50px 15px 100px 15px;
            }
            #color {
                background-color: RebeccaPurple;
                width: 210px;
                height: 210px;
                margin: auto;
            }
            #quote {
                font-size: 21px;
                font-style: italic;
                font-family: Courier;
            }
            h2 {
                font-family: Papyrus;
            }
